.cartContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-right:15px ;
  margin-top: 10px;
}

.cartIcon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.cartTotal {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fcfffb;
  font-size: 23px;
}
