#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

 h1{
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #00fd15;
 }
.logo:hover {
  filter: drop-shadow(0 0 2em #131547aa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container2 {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.module1 {
  background-color: #111605;
  border-radius: 5px;
  width: 25%;
  flex: 0 0 25%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(173, 169, 169);
  border-radius: 5px;
  background-image: url('https://img.freepik.com/foto-gratis/fiesta-halloween_23-2148603731.jpg?w=1380&t=st=1685747678~exp=1685748278~hmac=7a8b9840347a4d4635b4ab71df7a32256fb83a12a1e2a598dd1c66831be4197c');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.module2 {
  display: inline-block;
  background-color: #0000004f;
  border-radius: 5px;
  flex: 1;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(110, 133, 168);
  border-radius: 5px;
  background-image: url('https://img.freepik.com/foto-gratis/fondo-papel-tapiz-colorido-borroso-artistico_58702-8367.jpg?w=1380&t=st=1685803056~exp=1685803656~hmac=264c17b45176c83bc9956a0eb344ce17c5e755511519bd071abee508c4d646bb');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.card {
  padding: 2em;
}

.h2M2{
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 35px;
    margin-bottom: 16px;
    color: #fce300;
}