.card {
  display: inline-block;
  background-image: url('../../source/img/card.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 3px;
  border-color:#000;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  width: 250px; /* Tamaño determinado */
  margin-right: 20px; /* Ajusta la separación horizontal entre los componentes */
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:10px ;
}


.h3Pr{
  color: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pPr{
  color: #000;
}

.card h3 {
  font-size: 23px;
  margin-bottom: 8px;
}

.card p {
  font-size: 20px;
  margin-bottom: 8px;
}

.card .counter {
  font-size: 20px;
  display: flex;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #000;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.card .counter .button {
  background-color: #04ff2e;
  color: #000000;
  border-width: 1px;
  border-color:#000;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.card .counter .button:hover {
  background-color: #080808;
  color:white;
  transform: scale(0.85);
}

.card .counter .count {
  font-size: 20px;
  font-weight: bold;
}

.buttonAdd {
  font-size: 15px;
  background-color: #0d0e0e;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 1px;
  width: auto;
  color: #ffffff;
  border-radius: 10px;
  border-color: #000;
  margin-top: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.buttonAdd:hover{
  background-color:#ffffff;
  color:#0f0f0f;
  transform: scale(0.95);
}

